
<div class="container navbar-padding">
  <%= render 'shared/static_listing_banner' %>
  <div class="listing-page">
    <div class="listing-info">
      <h5> <%= @listing.property_type.upcase %> </h5>
      <h2> <%= @listing.name %> </h2>
      <p> <%= @listing.description %> </p>
    </div>
    <div class="bookingform">
      <h4>$<%= @listing.nightly_rate %> per night</h4>
  </div>
  </div>
</div>
