<% @bookings.each do |booking| %>
  <li class="message">
    <div class="booker-photo">
      <% if booking.user.photo.url.nil? %>
        <%= image_tag "agustin.jpg", class: "user-avatar" %>
      <% else %>
      <%= link_to listing_path(booking.listing) do %>
        <%= cl_image_tag booking.listing.photos.first.url, class: "user-avatar" %>
        <% end %>
      <% end %>

    </div>
    <div class="user">
      <h3><%= booking.user.first_name %></h3>
      <p><%= booking.checkin_date.strftime("%A, %b %d") %></p>
      <p><%= booking.guests_number %> Travellers</p>
    </div>
    <div class="user-message">
      <p class="bold"><%= booking.listing.name %></p>
      <p class="fade-font"><%= booking.trip_details %></p>
    </div>
    <div class="user-status">
      <% if booking.status.nil? %>
        <p class="bold pending">Pending</p>
        <% else %>
        <p class="bold pending"><%= booking.status %></p>
        <% end %>
      <p>$<%= booking.total_price %></p>
    </div>
  </li>
<% end %>
