<div class="container">

      <h1>Bookings Inbox</h1>


      <div class="tabs">
        <a href="#" class="tab active">Traveling</a>
        <a href="#" class="tab">Hosting</a>
      </div>

      <ul class="inbox">
        <li class="message">


            <h3>Gab Dehan</h3>
            <p class="fade-font">10/07/17</p>
          </div>

          <% @bookings.each do |booking| %>
            <% if booking.user.photo.url.nil? %>
              <%= image_tag "agustin.jpg", class: "avatar-sm" %>
            <% else %>
              <%= cl_image_tag booking.user.photo.url, class: "avatar-sm" %>
            <% end %>
          <div class="user">
            <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
            <p class="fade-font">booking.checkin_date</p>
          </div>
          <div class="user-message">
            <p class="bold">booking.trip_details.first(5)</p>
            <p class="fade-font">booking.trip_details</p>
          </div>
          <div class="user-status">
            <p class="bold pending"><%= booking.status %></p>
            <p><%= booking.total_price %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
