<div class="cards">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing), :action => 'go' do %>
    <div class="card-trip">
      <% if listing.photos.any? %>
        <%= cl_image_tag listing.photos.first.url, :gravity=>"auto", :height=>1143, :quality=>"auto", :width=>2763, :crop=>"fill" %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <% end %>
      <div class="card-trip-infos">
        <div>
          <p class="small-grey-upcase"><%= listing.property_type.upcase %></p>
          <h2 id="listing-name"><%= listing.name %></h2>
        </div>
        <h2 class="card-trip-pricing"><%= listing.nightly_rate %> €</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
