<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "airbnb_logo.png", height: 20 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo.url.nil? %>
          <%= image_tag "agustin.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" %>
          <% else %>
          <%= cl_image_tag current_user.photo.url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", :gravity=>"auto", :height=>40, :quality=>"auto", :width=>40, :crop=>"fill" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" %>
            <li><%= link_to "#" do %>
              <i class="fas fa-user-circle"></i> <%= current_user.first_name %>
                <% end %></li>
            <li><%= link_to bookings_path(tab: 'my_bookings') do %>
              <i class="far fa-envelope"></i> Inbox
              <% end %></li>
            <li>
              <%= link_to new_listing_path do %>
                <i class="fas fa-home"></i> Post a flat
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "#" do %>
              <i class="fas fa-user-circle"></i> <%= current_user.first_name %>
                <% end %></li>
          <li><%= link_to bookings_path(tab: 'my_bookings') do %>
              <i class="far fa-envelope"></i> Inbox
              <% end %></li>
          <li><%= link_to new_listing_path do %>
                  <i class="fas fa-home"></i> Post a flat
                <% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %></li>
        </ul>
      </div>
      <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
  </div>
</div>

