<div class="container">
  <div class="row">
    <div class="cards">
      <% @listing.photos.each do |photo| %>
      <div class="card-trip">
        <%= cl_image_tag photo.url %>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form">
      <%= simple_form_for [@listing, @photo] do |f| %>
        <%= f.file_field :url %>
        <%= f.input :url_cache, as: :hidden %>
        <%= f.submit 'Add image', class: 'airbnb-btn button-padding' %>
      <% end %>
      </div>
      <div class="button-padding">
        <%= link_to 'See listing', listing_path(@listing), class: 'airbnb-btn-secondary' %>
      </div>
    </div>

  </div>
</div>

