<div class="container navbar-padding">
  <div class="row">
    <div class="cards">
      <% @listing.photos.each do |photo| %>
      <div class="card-trip">
        <%= cl_image_tag photo.url %>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= simple_form_for [@listing, @photo] do |f| %>
        <%= f.file_field :url %>
        <%= f.input :url_cache, as: :hidden %>
        <%= f.submit 'Add image' %>
      <% end %>
    </div>
    <button>
      <%= link_to 'See listing', listing_path(@listing) %>
    </button>
  </div>
</div>

